:root {
    --main-yellow-color: hsla(46, 86%, 59%, 1);
    --main-brown-color: hsla(350, 53%, 33%, 1);
    --button-color: hsla(1, 37%, 52%, 1);
    --a-links-color: hsla(354, 82%, 62%, 1);
    --paragraf-color: hsla(230, 6%, 18%, 1);
    --footer-text-color: hsla(350, 61%, 41%, 1);
}