:root {
    --main-yellow-color: #f0c63d;
    --main-brown-color: #812836;
    --button-color: #b25957;
    --a-links-color: #ee4f5f;
    --paragraf-color: #2b2c31;
    --footer-text-color: #a8293e;
}