.header__phone {
    display: flex;
    }

.header__box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero__paragraph {
    padding: 30px 20px 30px 0px;
}

.pseido__button {
  background-color: #B25A59;
  border-radius: 80px;
  color:white;
  padding: 14px 40px;
  max-width:334px;
  min-width: 330px;
  display:flex;
  align-items: center;
  justify-content:center;
}

.pseido__button a{
  text-decoration:none;
  color:inherit;
  margin:auto 0;
}

.show__toast {
  background: #FBFBFB;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
  padding-left: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border:none;
  transition: .4s;
  &:hover {
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50);
    transition: .4s;
}
&:active {
    background-color: #B25A59;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.50);
    transition: .4s;
}
}

.hero__button__line {
  display:flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;;
}

.nav__list {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-evenly;
}

.nav__item {
  text-decoration: none;
  color: var(--main-brown-color);
&:hover {
  text-shadow: 0 1;
  font-weight: bold;
  text-decoration: underline;
}
}