.tour__image {
    border-radius: 20px;

    margin: 0 auto;

  }

.tour__images--box {
    margin: 20px;
    margin-bottom: 30px;
}

.arrow {
    cursor: pointer;
}
.tour__images__title {
 padding-top:40px;
}