.tour__image__container, .tour__images--content, .tour__images--box {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.tour__image, .tour__images__arrow  {
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        filter: brightness(50%);
    }
}

.tour__images--box div {
    margin:20px;
}

.tour__images__title {
 padding-top:40px;
}

.hidden {
display:none;
}

