@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&display=swap");
@import "components/resets.scss";
@import "components/grids.scss";
@import "components/header_hero_section.scss";
@import "components/toast.scss";
@import "components/tour_section.scss";
@import "components/globally_section.scss";
@import "components/video_section.scss";
@import "components/team_section.scss";
@import "components/choose_section.scss";
@import "components/customer_section.scss";
@import "components/news_section.scss";
@import "components/footer_section.scss";

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 105px;
  background-color: #ffffff;
}

button {
  padding: 14px 28px;
  border-radius: 80px;
  text-align: center;
}

h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 74px;
}

h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 180%;
}

h3 {
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
h4 {
  font-family: inherit;
  font-weight: 500;
  font-size: 26px;
  line-height: 180%;
  color: var(--colored-text);
}

h5 {
  font-family: inherit;
  font-weight: 500;
  font-size: 22px;
  line-height: 180%;
}

p {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  margin: 20px 0;
}

.paragraph {
  padding: 10px 0 30px 0;
}

:root {
  --main-yellow-color: #f0c63d;
  --main-brown-color: #812836;
  --button-color: #b25957;
  --a-link-color: #ee4f5f;
  --paragraf-color: #2b2c31;
  --footer-text-color: #a8293e;
  --colored-text: #7f2736;
}

.colored--header {
  background-color: var(--main-yellow-color);
}

.colored {
  background-color: var(--main-yellow-color);
  border-bottom-left-radius: 80% 30%;
  border-bottom-right-radius: 80% 30%;
}

.colored--two {
  background-color: var(--main-yellow-color);
  border-radius: 20px;
}

.colored--three {
  background-color: var(--main-brown-color);
}

.colored__text {
  color: var(--colored-text);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  background-color: var(--main-yellow-color);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-brown-color);
  border-radius: 20px;
  backdrop-filter: blur(80px);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0a252a;
  box-shadow: 0 0 11px #0a252a;
}

@media screen and (max-width: 1100px) {
  .tour__image__container,
  .tour__images--box,
  .tour__images--content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px 50px;
  }
  h1 {
    font-size: 36px;
    line-height: 180%;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
  }
  h3 {
    font-size: 26px;
    line-height: 180%;
    padding-top: 25px;
    text-align: center;
  }
  h4 {
    font-size: 22px;
    line-height: 180%;
  }
  h5 {
    font-size: 20px;
    line-height: 180%;
    text-align: justify;
  }
  p {
    font-size: 18px;
    line-height: 160%;
    text-align: justify;
  }
  .header__box {
    flex-direction: column;
    row-gap: 20px;
  }
  .hero__paragraph {
    text-align: center;
  }
  .hero__button__line {
    justify-content: space-evenly;
    margin: 45px 45px;
  }
  .article {
    margin: 50px 10px;
  }
} ;
